
@{
    ViewBag.Title = "Deleted account";
}

<br />
<br />
<h2>Deletion of account</h2>
<br />
<h4>Your account has now been deleted.</h4>
<hr />
<br />
<br />

<div>
    <p>We are sad that you have left us, but there is always a spot for you here!</p>
    <br />
    <br />
    @Html.ActionLink("Create new account", "Create", "Customers")
</div>


