@{
    ViewBag.Title = "Contact";
}

<br />
<br />
<h2>Contact Us</h2>

<h4>Here you will find all our contact information.</h4>
<h5>You can contact us with questions like information about orders and products.</h5>
<br />
<hr />
<br />
<address>
    Raspberry Road 4<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@happytails.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@happytails.com</a>
</address>